*{
    margin: 0;
    font-family: Roboto;
}

body{
    background: rgb(29, 148, 233);
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
}

nav{
    padding-left: 80px;
    height: 30px;
    width: auto;
    background-color: rgb(56, 54, 54);
}

.navy{
    display: inline-block;
    margin:10px;
    padding-right: 30px;
    color: whitesmoke;
    font-size: 60%;
} 

.navimg{
    width: 40px;
    padding-right: 30px;
    padding-left: 30px;
}

.bern{
    width: 190px;
    height: 220px;
    position: absolute;
    left: 10%;
    top: 100px;

}

.header{
    width: 100%;
    margin: auto;
}

.smoke{
    display: block;
    width: 300px;
    height: 90px;
    margin:auto;
    margin-top: 40px;
} 



.plugplay{
    text-align: center;
    margin: auto;
    color: rgb(214, 229, 238);
    font-size: larger;
    margin-top: 30px;
    margin-bottom: 50px;
    
} 

.buildnow{
    border: 2px solid white;
    padding: 20px;
    background-color: rgb(235, 164, 21);
    color: whitesmoke;
    border-radius: 15px;
    margin: auto;
    width: 20%;
    text-align: center;
    margin-bottom: 40px;
}

.deadline{
    width: auto;
    height: 40px;
    background-color: whitesmoke;
    text-align: center;
    font-weight: lighter;
    margin:auto;
}

.p1{
    padding: 10px;;
}

.facilities{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    
}